__pycache__/*
run.bat
# I usually like to make run.bat a symlink to run_locally.bat, but you wouldn't want to get people confused about that. (run_locally.bat is not suitable for use as an entry point in a production/publicly-accessible instance, so we wouldn't want to imply it's a generally-applicable run script)
