altair == 5.4.1, >= 5.4.0 # I'm pretty sure streamlit automatically installs this, but we want to use a type-bug-fix that was first realized in 5.4.0. So, hopefully...
streamlit == 1.38.0 # We use a name or two from 1.37.0 and a typing from 1.38.0
pandas
psutil
torch == 2.3.0 # For some reason, 2.3.1 of this has some bug that makes torch not be found properly or something? So we import this explicitly here to avoid that (sentence-transformers depends on torch)
transformers == 4.42.4 # Previous patch version of this seems to cause a weird error in the backup similarity search, so we avoid that ¯\_(ツ)_/¯
cryptography #needed for google-auth's JWT's ES256
google-auth
databricks-genai-inference >= 0.2.3
databricks-sql-connector >= 3.1.2
num2words >= 0.5.13
langchain == 0.1.20
setuptools # This needs to be installed explicitly for mlflow and databricks-vectorsearch, for some reason.
databricks-vectorsearch >= 0.36
mlflow # For some reason, you need to explicitly install this to get langchain-community to work.
langchain-community
sentence-transformers == 3.0.1 # Needed for HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L12-v2") call, apparently. # Previous patch version of this seems to cause a weird error in the backup similarity search, so we avoid that ¯\_(ツ)_/¯
faiss-cpu # needed for faiss. There's also a faiss-gpu but that seems like more of a gamble
jellyfish # Needed for cross-document similarity comparisons
wfork-streamlit-profiler # This is a fork of streamlit-profiler 0.2.4 that works on later streamlits. Some day we may move back to the original streamlit-profiler once it incorporates https://github.com/jrieke/streamlit-profiler/pull/4
beautifulsoup4

# Dev-only requirements (tooling)
uv >= 0.2.32 # At some point in 0.2.x they added uv run back in, and that's really all we need.
mypy >= 1.11.1
mypy-extensions >= 1.0.0
typing-extensions
pipreqs
deptry >= 0.14.1
ruff
pyright >= 1.1.377, >= 1.1.374 #in general we like to keep this up to date, but there shouldn't be a problem with most older versions.

## type stubs that aren't installed by mypy --install-types for whatever reason

google-auth-stubs >= 0.3.0 # These have a couple of type annotations we want for using google-auth, starting in 0.3.0 (technically google-auth tries to be typed as well, but apparently not very hard...
types-beautifulsoup4 # This doesn't seem to be installed by --install-types, for whatever reason, even though it looks like it should be from the fact that it's called types-.

## These are typically installed by mypy --install-types if you don't install them here.
types-cachetools
types-decorator
types-protobuf
types-pycurl
types-requests
types-six
types-toml
