streamlit >= 1.34.0 # We use a bugfix from 1.34.0
pandas
databricks-sql-connector >= 3.1.2
faiss-cpu==1.7.4
sentence-transformers
psutil
transformers
google_auth_oauthlib
google-api-python-client
streamlit-cookies-controller @ git+https://github.com/wyattscarpenter/streamlit-cookies-controller@built #TODO: remove this once https://github.com/NathanChen198/streamlit-cookies-controller/pull/1 is merged and a new release of it is on pypi
databricks-genai-inference

# Dev-only requirements (tooling)
uv >= 0.1.35 # I'm not sure the exact version that added uv run, but that's really all we need.
mypy >= 1.9.0
mypy-extensions >= 1.0.0
typing-extensions
pipreqs
deptry >= 0.14.1

## These are typically installed by mypy --install-types if you don't install them here.
types-cachetools
types-decorator
types-protobuf
types-pycurl
types-requests
types-six
types-toml
