streamlit >= 1.37.0 # We use a bugfix from 1.36.0
pandas
psutil
torch == 2.3.0 # For some reason, 2.3.1 of this has some bug that makes torch not be found properly or something? So we import this explicitly here to avoid that (sentence-transformers depends on torch)
transformers == 4.42.4 # Previous patch version of this seems to cause a weird error in the backup similarity search, so we avoid that ¯\_(ツ)_/¯
cryptography #needed for google-auth's JWT's ES256
google-auth
databricks-genai-inference >= 0.2.3
databricks-sql-connector >= 3.1.2
num2words >= 0.5.13
langchain == 0.1.20
setuptools # This needs to be installed explicitly for mlflow and databricks-vectorsearch, for some reason.
databricks-vectorsearch >= 0.36
mlflow # For some reason, you need to explicitly install this to get langchain-community to work.
langchain-community
sentence-transformers == 3.0.1 # Needed for HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L12-v2") call, apparently. # Previous patch version of this seems to cause a weird error in the backup similarity search, so we avoid that ¯\_(ツ)_/¯
faiss-cpu # needed for faiss. There's also a faiss-gpu but that seems like more of a gamble
jellyfish # Needed for cross-document similarity comparisons
streamlit-profiler @ git+https://github.com/wyattscarpenter/streamlit-profiler@patch-1
beautifulsoup4

# Dev-only requirements (tooling)
uv >= 0.1.35, <= 0.1.36 # I'm not sure the exact version that added uv run, but that's really all we need. But then after 0.1.37 they changed the semantics of uv run or something so it doesn't work for me anymore. (0.1.37 also adds an annoying message about how uv run is experimental, which prints all the time, much to my chagrin.) We'll just stay locked in to this range until uv run settles down a bit more, then we'll migrate over to the newer version.
mypy >= 1.9.0
mypy-extensions >= 1.0.0
typing-extensions
pipreqs
deptry >= 0.14.1
ruff

## These are typically installed by mypy --install-types if you don't install them here.
types-cachetools
types-decorator
types-protobuf
types-pycurl
types-requests
types-six
types-toml
types-beautifulsoup4 # this doesn't seem to be installed by --install-types, for whatever reason
